---
layout: base
---

<style>
  .feature {
    flex: 0 0 250px;
  }
</style>

{% assign taxa = site.data.species | sort: "numberOfOccurrences" | reverse %}
{% assign taxa = taxa | where_exp: "taxon", "taxon.imageSrc != nil" %}

<section class="features">
  <div class="feature-cards has-{{ taxa.size }}-elements">
    {% for taxon in taxa %}
      <article class="feature">
        {% assign preTitle = taxon.species %}
        {% assign title = taxon.englishName %}
        {% assign href = taxon.taxonKey | prepend: './occurrence/search?view=map&taxonKey=' %}
        {% assign background = taxon.imageSrc %}
        {% if taxon.imageBy %}
          {% assign imageLicense = 'Image by [' | append: taxon.imageBy | append: '](' | append: taxon.imageUrl | append: ')' %}
        {% else %}
          {% assign imageLicense = false %}
        {%endif %}
        {% include blocks/parts/feature.html content=taxon title=title preTitle=preTitle href=href background=background imageLicense=imageLicense %}
      </article>
    {% endfor %}
  </div>
</section>
